venv/
.venv/

__pycache__/
*.pyc

.env
.env.*

*.log

.terraform/
*.tfstate
*.tfstate.*
*.tfplan

.idea/
.vscode/

.DS_Store
app/linkguard-chart/rendered.yaml
app/terraform/**/project-info.txt
app/terraform/**/environment.txt
